.icons-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 3.5em;
  height: 290px;
  margin-left: 0.7em;
  padding-right:10px;
}
.icon-circle-container {
  width: 3.5em;
  height: 3.5em;
  border: 1px solid var(---dark-green);
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  position: relative;
  z-index: 2;
}
.icon-circle-container,
.icon-label {
  transition: all 0.1s ease-in;
}
.social-media-icons {
  color: black;
  position: absolute;
}
.twitter {
  width: 31px;
  height: 25px;
  left: 14px;
}
.github {
  width: 31px;
  height: 25px;
  left: 12px;
}
.facebook {
  width: 17px;
  height: 32px;
  left: 19px;
}
.share {
  width: 27px;
  height: 30px;
  left: 13px;
}
.icon-label {
  visibility: hidden;
  opacity: 0;
  color: white;
  position: absolute;
  left: 40px;
  width: 200px;
  font-size: 1.4em;
  background: none;
  border: none;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
#github{
  margin-left:-18px;
}
#phone{
  margin-left:-18px;
}
#mail{
  margin-left:-20px;
}
#facebook{
  margin-left:-5px;
}
.icon-circle-container:hover {
  background-color: var(---dark-green);
  color: white;
  width: 230px;
  border-radius: 100px;
}
.icon-circle-container:hover .social-media-icons {
  color: white;
}
.icon-circle-container:hover .icon-label {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 700px) {
  .icons-container {
    width: 15%;
  }
}
